<!-- development version, includes helpful console warnings -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<div id="app">
  <h1>Hello Vue!</h1>

  <label for="name">Please enter you name: </label>
  <input v-model="name" id="name" autocomplete="name" />

  <div v-if="name">
    <p>Thank you! Your name is {{ name }}.</p>

    <button v-on:click="clear">Clear input</button>
  </div>

  <div v-else>
    <p>Waiting for data to be entered.</p>
  </div>

  <!-- Conditional rendering -->
  <!-- Can also be written as: -->

  <!-- empty string is falsy -->
  <!-- <p v-if="name"></p> -->

  <!--
    <p v-if="name.length > 0">
      Thank you, your name is {{ name }}.
    </p>

    <button v-on:click="clear">Clear input</button>
  -->
</div>

<script>
  const { createApp } = Vue;

  createApp({
    data() {
      return {
        name: "",
      };
    },
    methods: {
      clear() {
        this.name = "";
      },
    },
  }).mount("#app");
</script>
